body {
  font-family: "Century Gothic";
}

h1 {      
  font-family: "Century Gothic";
  color: rgb(51, 0, 153);
  text-align: center;
}

pre {
  background-color: #ECEEFF;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
